/* ------------------ INDEX PAGE ------------------- */
.sign-in {
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%, -50%);
}

.form_login {
  border-radius:20px;
  padding-top:20px;
  padding-bottom:20px;
}

.sign_btn {
  border-radius:20px;
  background-color:#E5E7E9;
}

.sign_btn:hover {
  color:white !important;
}

.register_text {
  font-size:15px;
}

/* ------------------ REGISTERATION PAGE ------------------- */
.register_main input {
  border-radius:20px !important ;
}

.propic-border {
  border:3px solid gray;
  padding:10px;
}

.propic-border {
  color:gray;
  font-size:32px;
  border-radius:50%;
}

/* ------------------ HOME PAGE ------------------- */
.home_main .propic {
  height:150px;
  width:150px;
}

.home_main .container-home {
  width:90vw !important;
  margin:auto;
}

.home_main .media {
  background-color:#fdc185;
  border-radius:20px !important;
}
